body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.part {
    flex: 1;
    padding: 20px;
    color: black;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    margin: 8px;
    border-radius: 0.375rem;
    border: 1px solid #c0c0c0;
    margin-bottom: 0;
    contain-intrinsic-block-size: auto 100px;
}

.part.part4 {
    margin-bottom: 8px;
}

.part:focus,
.part:hover {
    border: 1px solid #2c00ff;
}

svg {
    width: 100%;
    height: 100%;
}

.node {
    fill: white;
    border-radius: 50px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(211, 202, 255, 0.5));
    stroke-width: 0.5px;
    stroke: #666;
}

.link {
    fill: none;
    stroke: #a600ff;
    stroke-width: 1px;
}

.part1 button {
    z-index: 9;
    display: inline-block;
}

.part1 svg {
    z-index: 1;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
    padding: 0.375rem 0.875rem;
    border: 1px solid black;
    border-radius: 0.375rem;
}

.button-active {
    background-color: black;
    color: white;
    border: 1px solid black
}


.node-text {
    fill: black;
    /* Color del texto */
    font-size: 1rem;
    /* Tamaño del texto */
}

div#nodeCreationSection {
    margin-bottom: 1rem;
}

button#addNode {
    margin-left: 0.33rem;
    margin-top: 0.33rem;
}

#nodeList div {
    margin-bottom: 0.66rem;
}

@media all and (max-width: 980px) {
    #twoBlock {
        flex-direction: column
    }
}